<template name="dashboard">
  <div class="dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
      {{> addHomeForm}}
      {{> myHomes}}
      {{> autoformModals omitFields="occupants"}}
  </div>
</template>

<template name="myHomes">
     <ul class="list-group">
      {{#each myHomes}}
         <li class="list-group-item">
            {{ title }}
            <a href="#afModal" data-toggle="modal" class="btn btn-primary" collection="Homes" operation="update" doc="{{_id}}"  omitFields="occupants">Update home</a>
            <a href="#afModal" data-toggle="modal" class="btn btn-danger" collection="Homes" operation="remove" doc="{{_id}}" >Delete Home</a>
         </li>
      {{/each}}
    </ul>
</template>

<template name="addHomeForm">
    <a href="#afModal" data-toggle="modal" class="btn btn-primary" collection="Homes" operation="insert"  omitFields="occupants">Add a new Home</a>
</template>

